#posts {
    width: 100%;
    padding-right: 1rem;
    margin: 10px 0px 0px 0px;
}

#grid > div {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}

#cardExtra {
    min-height: auto;
}
.postContent {
    height: 400px;
    overflow: hidden;
}
#cardContent {
    max-height: 70%;
    overflow: hidden;
    text-align: justify;
    padding-right: 0px;
}

#actionButtons:hover {
    background-color: transparent;
}

#actionButtons {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#actionButtons > Button{
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 0.20), 0px 10px 14px 1px rgb(0 0 0 / 0.14), 0px 4px 18px 3px rgb(0 0 0 / 0.12); 
background-color: transparent;}

#likeButtonColor{
    color: #28a745;
    margin: 0;
}
#likeButton:hover{
    background-color: rgba(40,167,69,.125);
}
#dislikeButton:hover{
    background-color: rgba(255, 7, 58, 0.125);
}
#dislikeButtonColor{
    color: #ff073a;
    margin: 0;
}
.description {
    word-break: break-word;
    max-height: 80%;
    overflow-y: auto;
    padding-right: 10px;
}

#votes {
    margin: 0px;
    margin-right: 0.25em;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 0.20), 0px 10px 14px 1px rgb(0 0 0 / 0.14), 0px 4px 18px 3px rgb(0 0 0 / 0.12); 
    background-color: transparent;
    border: none;
    color: #007bff;
}
#votes:hover {
    background-color: rgba(0, 123, 255, 0.125);
}

.ui.card>.content>a.header.cardFontColor,.cardFontColor,.ui.card>.extra a:not(.ui).cardFontColor,.ui.card>.content>.description.cardFontColor,.ui.card>.content>.header:not(.ui).cardFontColor{
    color: #6c757d;
}
.link {
    text-decoration: underline;
}
#authorOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

abbr[title] {
    text-decoration: none;
}

.ui.card>.content>a.header.cardUrl {
    font-weight: 100;
    font-size: 1em;
}

.cardContent {
    padding-right: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 10%;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-right: 0px;
}

.ui.stackable.grid>.column:not(.row) {
    padding: 1rem 0px 1rem 1rem !important;
}